@model TravelExpertsDB.OrderDTO

@{
    ViewData["Title"] = "Confirmation";
}
@if (TempData["Message"] != null)
{
    <h4 class="mt-5 @(TempData["IsError"] != null? "text-danger": "text-success")">
        @TempData["Message"]
    </h4>
}
<h1 class="mt-5">Order Confirmation</h1>

<div class="mt-5">
    <h4>Booking ID @Html.DisplayFor(model => model.BookingID)</h4>
    <p>@Html.DisplayFor(model => model.OrderDate)</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PackagePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PackagePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelerCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelerCount)
        </dd>
    </dl>
    <hr />
    <div id="order-total">
        <div>
            <h5>Booking Total:</h5>
        </div>
        <div class="ms-5">
            <h5>@Html.DisplayFor(model => model.OrderTotal)</h5>
        </div>
    </div>
    <div>
        <a asp-controller="Account" asp-action="OrderHistory" class="btn btn-primary">View Bookings</a>
    </div>
</div>
