@using System.Globalization
@model IEnumerable<TravelExpertsDB.Booking>

@{
    ViewData["Title"] = "Order History";
}
@if (TempData["Message"] != null)
{
    <h4 class="@(TempData["IsError"] != null? "text-danger": "text-success")">
        @TempData["Message"]
    </h4>
}
<div class="infopage">
    <partial name="_AccountPartial" />
    <div id="account-info" class="container-fluid mt-5 mb-5">
        <div id="account-header">
        <h1>Order History</h1>
        </div>
        <div id="account-body">
            <h4 class="float-end mt-2 mb-2 me-3">
                Total Balance:
                @{
                    // Initialize a variable to hold the total owing amount
                    decimal totalOwing = 0;

                    // Iterate through each item in the Model
                    foreach (var item in Model)
                    {
                        // Calculate the owing amount for the current item
                        decimal obalance = (decimal)item.Package.PkgBasePrice * (decimal)item.TravelerCount;
                        totalOwing += obalance; // Add the current item's owing amount to the total
                    }

                    // Display the total owing amount
                    var totalOwingFormat = totalOwing.ToString("C", CultureInfo.CurrentCulture);
                    @totalOwingFormat
                }
            </h4>
            <table class="table" id="order-table">
                <thead id="order-table">
                    <tr>
                        <th>
                            Package Name
                        </th>
                        <th>
                            Booking Date
                        </th>
                        <th>
                            Package Price
                        </th>
                        <th>
                            Remaining Balance
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="order-table">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Package.PkgName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td>
                                <td>
                                    @{
                                        decimal obalance = (decimal)item.Package.PkgBasePrice * (decimal)item.TravelerCount;
                                        var oformat = obalance.ToString("C", CultureInfo.CurrentCulture);
                                    }
                                    @oformat
                                </td>
                                <td>
                                    @{
                                        item.TotalPaid ??= 0;
                                        decimal balance = (decimal)item.Package.PkgBasePrice * (decimal)item.TravelerCount - (decimal)item.TotalPaid;
                                        var format = balance.ToString("C", CultureInfo.CurrentCulture);
                                    }
                                    @format
                                </td>
                                <td>
                                    <a asp-action="OrderHistoryDetails" asp-route-id="@item.BookingId" class="btn btn-primary">Booking Details</a>
                                </td>
                                @if (item.Package.PkgBasePrice * (decimal)item.TravelerCount - item.TotalPaid > 0)
                                {
                                    <td>
                                        <form asp-action="MakePayment" method="post">
                                            <button name="bookid" type="submit" class="btn btn-primary" value=@item.BookingId>Make Payment</button>
                                        </form>
                                    </td>
                                }
                                <td>
                                    <a asp-action="CancelBooking" asp-route-id="@item.BookingId" class="btn btn-danger">Cancel Booking</a>
                                </td>
                                
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
